.main{
    height: 800px;
    width: 50%;
    margin: 50px 25% 100px 25%;
    background-color: wheat;
}
.left{
    float: left;
    width:30% ;
    height: 800px;
    background-color: cornflowerblue;
}
.img{
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.right{
    float: right;
    width: 70%;
    height: 800px;
    background-color: lightskyblue;
}
.textheader{
    text-align: center;
    font-size: 500%;
    color: red;
}
.info{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 150%;
    color: darkred;
}
ul{
    margin-top: 100px;
}