body{
    margin: 0;
}
#header{
    height: 100px;
    width: 100%;
    background-color: lightskyblue;
    top: 0;
}
#textheader{
    text-align: center;
    font-size: 250%;
    line-height: 100px;
}
#left{
    width: 20%;
    height: 1400px;
    background: white;
    float: left;
}
#right{
    width: 20%;
    height: 1400px;
    background: white;
    float: right;
}
#center{
    width: 60%;
    height: 1400px;
    float: left;
    background: whitesmoke;
}
#footer{
    bottom: 0;
    height: 100px;
    width: 100%;
    clear: both;
    background: lightskyblue;
}
#textfooter{
    text-align: center;
    line-height: 100px;
    font-size: 100%;
    color: black;
}
/*.img{*/
/*    height: 300px;*/
/*    width: 200px;*/
/*    margin: 10px 10px 10px 10px;*/
/*    border: 1px solid red;*/
/*}*/

.post{
    float: left;
    width: calc(25% - 22px);
    margin: 10px;
    border: 1px solid red;
    height: 250px;
    overflow: hidden;
}
.post .detail{
    height: 220px;
    overflow: hidden;
    display: block;
}
.post .img{
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffade6;
}

.active {
    background-color: #4CAF50;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #150aff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
    display: block;
}

